.InstallmentTable.Header
{
    display: flex;
    flex-direction: row;
    align-items: normal;
    justify-content: space-evenly;
}

.table {
    text-align: center;
}
.table thead th,
.table tbody td
{
    vertical-align: middle;
}

.sticky-header th{ /*sticking the header to the top*/
    position: sticky;
    top: 0;
    z-index: 1;
}
.Container
{
    margin: 10%;
    max-height: 300px;
    overflow-y: scroll;
}

.buttonContainer{
    size: 100%;
    display: flex;
    justify-content: center;
    margin: 20px
}
.btn{
    margin:5px;
    width: 80px
}

.global-search-box{
    width: 30%;
    margin-top: 10px;
}

